html, body{

  margin:0;

  padding:0;


}

body {

    display: flex;
    justify-content: center;
    color: #005C96;
    background-image: url('Images/PhysicalTherapyBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    background-color: #FFFFFF;

}



.appicon{
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 90%;
  margin-left: auto;
  margin-right: auto;
  width: 115px;
  height: 115px;
  position: relative;
  bottom: 120px;
}



content{
  height: content;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70%;
  /*background-image: url('Images/BackgroundImage.png');*/
  background-position: bottom center;
  background-repeat: no-repeat;
  bottom:0;
}

@media only screen and (max-width: 330px) {
    /* For smallphones: */
    content {
        top: 25%;
    }





    body{
      background-image: url('none');
    }

}

.CaseFlex{

display: flex;
flex-wrap: wrap;


}

.HeaderMax{

max-width: 400px;

}


.topcontentblock{
  width: 90%;
  max-width: 500px;

  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  margin-bottom: 26px;
  padding-top: 1px;
  padding-bottom: 1px;

}

.contentblock{
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  margin-top: 75px;
  padding-top: 1px;
  padding-bottom: 1px;

}

.animate-on-load {
  animation: 0.75s fade-up-enter;
}

@keyframes fade-up-enter {
  0% {
    opacity: 0;
    transform: translateY(50px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}







h1{
  font-family: 'IBM Plex Sans', sans-serif;
/*font-style: italic;*/
  font-weight: 700;
  font-size: 2.5em;
  line-height: 90%;
  margin-top: 8px;
  margin-bottom: 8px;

}


h2{
  font-family: 'IBM Plex Sans', sans-serif;
/*font-style: italic;*/
  font-weight: 700;
  font-size: 1.75em;
  line-height: 90%;
  margin-top: 12px;
  margin-bottom: 4px;

}

h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 110%;
  margin-top: 12px;
  margin-bottom: 4px;
  opacity: .75;

}


p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 175%;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #005C96;
}



h4{
  font-family: 'Space Mono', sans-serif;
  font-weight: 400;
  font-size: .77em;
  color: #337dab;
  line-height: 130%;
  margin-top: 0px;
  margin-bottom: 8px;
}

h5{
  font-family: '  Open Sans', sans-serif;
  font-weight: 400;
  font-size: .77em;
  color: #337dab;
  line-height: 130%;
  margin-top: 0px;
  margin-bottom: 8px;
}

a{
  color: #005C96;
  -webkit-text-decoration-color: #F1D7A2; /* Safari */
   text-decoration-color: #F1D7A2;
   font-weight: 700;
}


.PhotoFlex{

display: flex;
flex-wrap: wrap;
float: left;
margin-left: auto;
margin-right: auto;
}

.PhotoBlock{
  margin-top: 8px;
  width: 230px;
  margin-right: 10px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  }

  img{
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
  }



  .StepActive{
  background-color: #0072CF;
  height: 10px;
  }

  .StepInactive{
  background-color: #CCCCCC;
  opacity: .5;
  height: 10px;
  }



  .stepper{
  height: 3px;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  display: grid;
  grid-template-columns: 35% auto ;
  grid-gap: 3px;

  }
